body{
    font-family: $font;
    background-color: $color-background;
}
main {
    min-width: 320px;
    width: 95vw;
    height: 95%;
    display: grid;
    flex-direction: column;
    justify-items: center;
    margin: 50px auto;
    grid-template: repeat(5, auto) / 1fr ;
    row-gap: 1.7rem;
    grid-template-areas:
    "first"
    "second"
    "third"
    "fourth"
    "fifth";
    @media (min-width: 768px) {
        margin: 90px auto;
        min-width: 768px;
        max-width: 80vw;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        gap: 20px;
        grid-template-areas:
        "first first second fifth"
        "third fourth fourth fifth"
        ;
    }
}
.first{
    grid-area: first;
    background-color: $color-first;
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 93% 10px;
}
.second{
    grid-area: second;
    background-color: $color-second;
}
.third{
    grid-area: third;
    background-color: $color-neutral;
    --text-color: rgba(25, 33, 46, 0.85);
    --border-image: $color-neutral;
}
.fourth{
    grid-area: fourth;
    background-color: $color-third;
}
.fifth{
    grid-area: fifth;
    background-color: $color-neutral;
    --text-color: rgba(25, 33, 46, 0.85);
    --border-image: $color-neutral;
}
// footer
.attribution {
    display: block;
    bottom: 30%;
    font-size: 16px;
    text-align: center;
    a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    }
}
